.AuthForm__Register {
  box-shadow: 1px 1px 2px 1px #ccc;
  background: white;
}

.authBtn {
  width: 100%;
  padding: 0.5rem;
  background: green;
  color: white;
  border-radius: 8px;
  border: none;
}
