.NewPost__Button {
  background: whitesmoke;
  padding: 1rem;
  margin-bottom: 20px;

  button {
    text-align: left;
    font-family: inherit;
    border: none;
    padding: 1rem;
    color: #ccc;
    width: 100%;
    background: white;
  }
}
