.Chat {
  position: relative;
  width: 30%;
  display: flex;
  align-items: center;
  height: 100%;

  justify-content: space-between;
  padding: 0 0.5rem;

  &:hover {
    cursor: pointer;
    color: black;
    background: whitesmoke;
  }
  button {
    margin-left: 10px;
    width: 15px;
    height: 15px;
  }
}

.Message__Box {
  box-shadow: 1px -2px 3px 1px #ccc;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  top: -400px;
  left: 0;
  width: 100%;
  height: 400px;
  background: white;
  color: black;

  border-bottom: none;
  &:hover {
    cursor: default;
  }
  .Top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem;
    color: white;
    background: rgb(20, 39, 56);
    .Buttons {
      display: flex;
      align-items: center;
      justify-content: center;
      button {
        font-size: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        border: none;
        background: none;
      }
    }
  }
  ul {
    overflow: auto;
    list-style: none;
    padding: 0.4rem;

    li {
      position: relative;
      margin-bottom: 10px;
      font-size: 0.8rem;
      p {
        background: whitesmoke;
        padding: 0.8rem;
        border-radius: 8px;
      }
    }
  }
  input {
    margin: 5px;
    font-family: inherit;
    border: none;
    padding: 0.5rem;
    background: whitesmoke;
    border-radius: 8px;
    outline: none;
  }
}

.Top__CloseBtn {
  position: absolute;
  right: 5px;
  top: 5px;
  background: none;
  font-size: 20px;
}

.SentAt {
  top: 4px;
  right: 0;
  position: absolute;
  font-size: 0.5rem;
}

.SentAt__Left {
  top: 3px;
  left: 0;
  position: absolute;
  font-size: 0.5rem;
}

.ProfileLink {
  color: white;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}
